# [시계열 자료 다루기]
- https://datascienceschool.net/view-notebook/8959673a97214e8fafdb159f254185e9/

시계열 자료는 인덱스가 날짜 혹은 시간인 데이터를 말한다. Pandas에서 시계열 자료를 생성하려면 인덱스를 DatetimeIndex 자료형으로 만들어야 한다. DatetimeIndex는 특정한 순간에 기록된 타임스탬프(timestamp) 형식의 시계열 자료를 다루기 위한 인덱스이다. 타임스탬프 인덱스의 라벨값이 반드시 일정한 간격일 필요는 없다.

DatetimeIndex 인덱스는 다음과 같은 보조 함수를 사용하여 생성한다.

- pd.to_datetime 함수
- pd.date_range 함수

# 1. pd.to_datetime 함수
pd.to_datetime 함수를 쓰면 날짜/시간을 나타내는 문자열을 자동으로 datetime 자료형으로 바꾼 후 DatetimeIndex 자료형 인덱스를 생성한다.

In [2]:
import numpy as np
import pandas as pd

In [3]:
date_str = ["2018, 1, 1", "2018, 1, 4", "2018, 1, 5", "2018, 1, 6"]
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-05', '2018-01-06'], dtype='datetime64[ns]', freq=None)

이렇게 만들어진 인덱스를 사용하여 시리즈나 데이터프레임을 생성하면 된다.

In [4]:
np.random.seed(0)
s = pd.Series(np.random.randn(4), index=idx)
s

2018-01-01    1.764052
2018-01-04    0.400157
2018-01-05    0.978738
2018-01-06    2.240893
dtype: float64

# 2. pd.date_range 함수
pd.date_range 함수를 쓰면 모든 날짜/시간을 일일히 입력할 필요없이 시작일과 종료일 또는 시작일과 기간을 입력하면 범위 내의 인덱스를 생성해 준다.

In [5]:
pd.date_range("2018-4-1", "2018-4-30")

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30'],
              dtype='datetime64[ns]', freq='D')

In [6]:
pd.date_range(start="2018-4-1", periods=30)

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30'],
              dtype='datetime64[ns]', freq='D')

# 3. freq
freq 인수로 특정한 날짜만 생성되도록 할 수도 있다. 많이 사용되는 freq 인수값은 다음과 같다.

- s: 초
- T: 분
- H: 시간
- D: 일(day)
- B: 주말이 아닌 평일 business day
- W: 주(일요일)
- W-MON: 주(월요일)
- M: 각 달(month)의 마지막 날
- MS: 각 달의 첫날
- BM: 주말이 아닌 평일 중에서 각 달의 마지막 날
- BMS: 주말이 아닌 평일 중에서 각 달의 첫날
- WOM-2THU: 각 달의 두번째 목요일
- Q-JAN: 각 분기의 첫달의 마지막 날
- Q-DEC: 각 분기의 마지막 달의 마지막 날

보다 자세한 내용은 다음 웹사이트를 참조한다.

http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases

In [7]:
pd.date_range("2019-7-1", "2019-7-31", freq="B")

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-05', '2019-07-08', '2019-07-09', '2019-07-10',
               '2019-07-11', '2019-07-12', '2019-07-15', '2019-07-16',
               '2019-07-17', '2019-07-18', '2019-07-19', '2019-07-22',
               '2019-07-23', '2019-07-24', '2019-07-25', '2019-07-26',
               '2019-07-29', '2019-07-30', '2019-07-31'],
              dtype='datetime64[ns]', freq='B')

In [8]:
pd.date_range("2019-7-1", "2019-7-31", freq="W")

DatetimeIndex(['2019-07-07', '2019-07-14', '2019-07-21', '2019-07-28'], dtype='datetime64[ns]', freq='W-SUN')

In [9]:
pd.date_range("2019-7-1", "2019-7-31", freq="W-MON")

DatetimeIndex(['2019-07-01', '2019-07-08', '2019-07-15', '2019-07-22',
               '2019-07-29'],
              dtype='datetime64[ns]', freq='W-MON')

# 4. shift 연산
시계열 데이터의 인덱스는 시간이나 날짜를 나타내기 때문에 날짜 이동 등의 다양한 연산이 가능하다. 예를 들어 shift 연산을 사용하면 인덱스는 그대로 두고 데이터만 이동할 수도 있다.

In [10]:
np.random.seed(0)
ts = pd.Series(np.random.randn(4), index=pd.date_range(
    "2018-1-1", periods=4, freq="M"))
ts

2018-01-31    1.764052
2018-02-28    0.400157
2018-03-31    0.978738
2018-04-30    2.240893
Freq: M, dtype: float64

In [11]:
ts.shift(1)

2018-01-31         NaN
2018-02-28    1.764052
2018-03-31    0.400157
2018-04-30    0.978738
Freq: M, dtype: float64

In [12]:
ts.shift(-1)

2018-01-31    0.400157
2018-02-28    0.978738
2018-03-31    2.240893
2018-04-30         NaN
Freq: M, dtype: float64

In [13]:
ts.shift(1, freq="M")

2018-02-28    1.764052
2018-03-31    0.400157
2018-04-30    0.978738
2018-05-31    2.240893
Freq: M, dtype: float64

# 5. resample 연산
resample 연산을 쓰면 시간 간격을 재조정하는 리샘플링(resampling)이 가능하다. 

- 시간 구간이 작아지면 데이터 양이 증가한다고 해서 업-샘플링(up-sampling) 
- 시간 구간이 커지면 데이터 양이 감소한다고 해서 다운-샘플링(down-sampling)

In [14]:
ts = pd.Series(np.random.randn(100), index=pd.date_range(
    "2018-1-1", periods=100, freq="D"))
ts.tail(20)

2018-03-22    1.488252
2018-03-23    1.895889
2018-03-24    1.178780
2018-03-25   -0.179925
2018-03-26   -1.070753
2018-03-27    1.054452
2018-03-28   -0.403177
2018-03-29    1.222445
2018-03-30    0.208275
2018-03-31    0.976639
2018-04-01    0.356366
2018-04-02    0.706573
2018-04-03    0.010500
2018-04-04    1.785870
2018-04-05    0.126912
2018-04-06    0.401989
2018-04-07    1.883151
2018-04-08   -1.347759
2018-04-09   -1.270485
2018-04-10    0.969397
Freq: D, dtype: float64

다운-샘플링의 경우에는 원래의 데이터가 그룹으로 묶이기 때문에 그룹바이(groupby)때와 같이 그룹 연산을 해서 대표값을 구해야 한다.

In [15]:
ts.resample('W').mean()

2018-01-07    0.305776
2018-01-14    0.629064
2018-01-21   -0.006910
2018-01-28    0.277065
2018-02-04   -0.144972
2018-02-11   -0.496299
2018-02-18   -0.474473
2018-02-25   -0.201222
2018-03-04   -0.775142
2018-03-11    0.052868
2018-03-18   -0.450379
2018-03-25    0.601892
2018-04-01    0.334893
2018-04-08    0.509605
2018-04-15   -0.150544
Freq: W-SUN, dtype: float64

In [16]:
ts.resample('M').first() # 월별로 첫번째 값

2018-01-31    1.867558
2018-02-28    0.156349
2018-03-31   -1.726283
2018-04-30    0.356366
Freq: M, dtype: float64

In [18]:
ts.resample('M').sum()

2018-01-31    5.218468
2018-02-28   -7.847431
2018-03-31   -0.162288
2018-04-30    3.622515
Freq: M, dtype: float64

ohlc 메서드는 구간의 시고저종(open, high, low, close)값을 구한다.

In [19]:
ts.resample('5T').ohlc()

                         open      high       low     close
2018-01-01 00:00:00  1.867558  1.867558  1.867558  1.867558
2018-01-01 00:05:00       NaN       NaN       NaN       NaN
2018-01-01 00:10:00       NaN       NaN       NaN       NaN
2018-01-01 00:15:00       NaN       NaN       NaN       NaN
2018-01-01 00:20:00       NaN       NaN       NaN       NaN
2018-01-01 00:25:00       NaN       NaN       NaN       NaN
2018-01-01 00:30:00       NaN       NaN       NaN       NaN
2018-01-01 00:35:00       NaN       NaN       NaN       NaN
2018-01-01 00:40:00       NaN       NaN       NaN       NaN
2018-01-01 00:45:00       NaN       NaN       NaN       NaN
2018-01-01 00:50:00       NaN       NaN       NaN       NaN
2018-01-01 00:55:00       NaN       NaN       NaN       NaN
2018-01-01 01:00:00       NaN       NaN       NaN       NaN
2018-01-01 01:05:00       NaN       NaN       NaN       NaN
2018-01-01 01:10:00       NaN       NaN       NaN       NaN
2018-01-01 01:15:00       NaN       NaN       NaN       NaN
2018-01-01 01:20:00       NaN       NaN       NaN       NaN
2018-01-01 01:25:00       NaN       NaN       NaN       NaN
2018-01-01 01:30:00       NaN       NaN       NaN       NaN
2018-01-01 01:35:00       NaN       NaN       NaN       NaN
2018-01-01 01:40:00       NaN       NaN       NaN       NaN
2018-01-01 01:45:00       NaN       NaN       NaN       NaN
2018-01-01 01:50:00       NaN       NaN       NaN       NaN
2018-01-01 01:55:00       NaN       NaN       NaN       NaN
2018-01-01 02:00:00       NaN       NaN       NaN       NaN
2018-01-01 02:05:00       NaN       NaN       NaN       NaN
2018-01-01 02:10:00       NaN       NaN       NaN       NaN
2018-01-01 02:15:00       NaN       NaN       NaN       NaN
2018-01-01 02:20:00       NaN       NaN       NaN       NaN
2018-01-01 02:25:00       NaN       NaN       NaN       NaN
...                       ...       ...       ...       ...
2018-04-09 21:35:00       NaN       NaN       NaN       NaN
2018-04-09 21:40:00       NaN       NaN       NaN       NaN
2018-04-09 21:45:00       NaN       NaN       NaN       NaN
2018-04-09 21:50:00       NaN       NaN       NaN       NaN
2018-04-09 21:55:00       NaN       NaN       NaN       NaN
2018-04-09 22:00:00       NaN       NaN       NaN       NaN
2018-04-09 22:05:00       NaN       NaN       NaN       NaN
2018-04-09 22:10:00       NaN       NaN       NaN       NaN
2018-04-09 22:15:00       NaN       NaN       NaN       NaN
2018-04-09 22:20:00       NaN       NaN       NaN       NaN
2018-04-09 22:25:00       NaN       NaN       NaN       NaN
2018-04-09 22:30:00       NaN       NaN       NaN       NaN
2018-04-09 22:35:00       NaN       NaN       NaN       NaN
2018-04-09 22:40:00       NaN       NaN       NaN       NaN
2018-04-09 22:45:00       NaN       NaN       NaN       NaN
2018-04-09 22:50:00       NaN       NaN       NaN       NaN
2018-04-09 22:55:00       NaN       NaN       NaN       NaN
2018-04-09 23:00:00       NaN       NaN       NaN       NaN
2018-04-09 23:05:00       NaN       NaN       NaN       NaN
2018-04-09 23:10:00       NaN       NaN       NaN       NaN
2018-04-09 23:15:00       NaN       NaN       NaN       NaN
2018-04-09 23:20:00       NaN       NaN       NaN       NaN
2018-04-09 23:25:00       NaN       NaN       NaN       NaN
2018-04-09 23:30:00       NaN       NaN       NaN       NaN
2018-04-09 23:35:00       NaN       NaN       NaN       NaN
2018-04-09 23:40:00       NaN       NaN       NaN       NaN
2018-04-09 23:45:00       NaN       NaN       NaN       NaN
2018-04-09 23:50:00       NaN       NaN       NaN       NaN
2018-04-09 23:55:00       NaN       NaN       NaN       NaN
2018-04-10 00:00:00  0.969397  0.969397  0.969397  0.969397

[28513 rows x 4 columns]